openapi: 3.0.1
info:
    title: Violet API
    contact:
        name: Violet.io
    version: v1
servers:
    - url: https://sandbox-api.violet.io:{port}/{basePath}
      description: Sandbox Violet API Server
      variables:
          port:
              enum:
                  - "443"
              default: "443"
          basePath:
              default: v1

tags:
    - name: Access
      description: ""
    - name: Catalog - Products
      description: ""
    - name: Catalog - Offers
      description: ""
    - name: Catalog - Skus
      description: ""
    - name: Catalog - Categories
      description: ""
    - name: Checkout - Cart
      description: ""
    - name: Checkout - Items
      description: ""
    - name: Checkout - Customer
      description: ""
    - name: Checkout - Shipping
      description: ""
    - name: Checkout - Payment
      description: ""
    - name: Checkout - Completion
      description: ""
paths:
    /login:
        post:
            tags:
                - Access
            summary: Login
            description:
                Log into an existing Violet account with a username and password.
                If sucessful an access token will be returned in the response body for use
                in additional requests against the API.
            parameters:
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/LoginRequest"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/LoginResponse"
            x-codegen-request-body-name: body
    /auth/token:
        get:
            tags:
                - Access
            summary: Refresh Token
            description:
                Refreshes a Users token. Pass the "refresh_token" value provided
                in the response body of a login request in the "X-Violet-Token" header.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/RefreshTokenResponse"
    /catalog/products:
        get:
            tags:
                - Catalog - Products
            summary: Get Products
            description:
                Retreives a paginated list of all products in ascending order since
                date of creation.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
                - name: exclude_public
                  in: query
                  description:
                      Excludes all publicly available products that are not part of
                      your curated catalog. In sandbox this should be left as false as there are
                      no merchant <-> developer relationships and all products are publically
                      available to all developers.
                  schema:
                      type: boolean
                      default: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageProduct"
    /catalog/products/random:
        get:
            tags:
                - Catalog - Products
            summary: Get Random Products
            description:
                Retreives a paginated list of products in random order. The original
                random order is maintained through pagination.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
                - name: exclude_public
                  in: query
                  description:
                      Excludes all publicly available products that are not part of
                      your curated catalog. In sandbox this should be left as false as there are
                      no merchant <-> developer relationships and all products are publically
                      available to all developers.
                  schema:
                      type: boolean
                      default: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageProduct"
    /catalog/products/{product_id}:
        get:
            tags:
                - Catalog - Products
            summary: Get Product by ID
            description:
                Retrieves a single product by ID. This request will include all
                offers of that product.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: product_id
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Product"
    /catalog/products/search:
        post:
            tags:
                - Catalog - Products
            summary: Search Products
            description:
                Search the complete product catalog by using the available filters
                in the request body.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int32
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
                - name: exclude_public
                  in: query
                  description:
                      Excludes all publicly available products that are not part of
                      your curated catalog. In sandbox this should be left as false as there are
                      no merchant <-> developer relationships and all products are publically
                      available to all developers.
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/SearchRequest"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageProduct"
            x-codegen-request-body-name: body
    /catalog/skus/{sku_id}:
        get:
            tags:
                - Catalog - Skus
            summary: Get Sku by ID
            description: Retreives a single SKU by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: sku_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Sku"
    /catalog/offers/{offer_id}:
        get:
            tags:
                - Catalog - Offers
            summary: Get Offer by ID
            description: Retrieves a single offer by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: offer_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Offer"
    /catalog/offers/merchants/{merchant_id}:
        get:
            tags:
                - Catalog - Offers
            summary: Get Offers by merchant_id
            description: Retrieves a page of offers by Merchant ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: merchant_id
                  in: path
                  required: true
                  schema:
                    type: integer
                    format: int64
                - name: page
                  in: query
                  required: false
                  schema:
                      type: integer
                      format: int64
                - name: size
                  in: query
                  required: false
                  schema:
                    type: integer
                    format: int64
            responses:
                "200":
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageOffer"
    /catalog/categories:
        get:
            tags:
                - Catalog - Categories
            summary: Get Categories
            description: Retreives a paginated list of all available categories.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Category"
    /catalog/categories/search/{query}:
        get:
            tags:
                - Catalog - Categories
            summary: Search Categories
            description:
                Performs a paginated search of all categories where name matches
                query.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: query
                  in: path
                  required: true
                  schema:
                      type: string
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Category"
    /catalog/categories/slug/{slug}:
        get:
            tags:
                - Catalog - Categories
            summary: Get Category by Slug
            description: Retrieves a single category by slug.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: slug
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Category"
    /catalog/categories/{id}:
        get:
            tags:
                - Catalog - Categories
            summary: Get Category by ID
            description: Retrieves a single category by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Category"
    /catalog/categories/{id}/tree:
        get:
            tags:
                - Catalog - Categories
            summary: Get Category Tree
            description: Retreives the category tree by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: id
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Category"
    /checkout/cart:
        post:
            tags:
                - Checkout - Cart
            summary: Create Cart
            description:
                Creates a new empty cart. <br><br>By setting the 'apply_current_user'
                flag to true the user associated with the current access token will be applied
                to the cart. If the user has an existing shipping address and/or billing address
                saved to their account these will automatically be applied to the cart. <strong>Only
                applies to oAuthed customer transactions.</strong> <br><br>By setting the
                'default_payment_method' flag to true the default payment method, if one exists,
                of the user associated with the current token will be applied to the cart.
                <strong>Only applies to oAuthed customer transactions.</strong> <br><br>Use
                the optional 'app_order_id' parameter to map the newly created cart to an
                ID in your systems.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_order_id
                  in: query
                  required: true
                  schema:
                      type: string
                - name: base_currency
                  in: query
                  required: true
                  schema:
                      type: string
                      default: USD
                - name: referral_id
                  in: query
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /checkout/cart/byToken/{token}:
        get:
            tags:
                - Checkout - Cart
            summary: Get Cart by Token
            description:
                Retreives a single cart by its token. The token a unique string
                generated for each cart at the time of creation.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: token
                  in: path
                  required: true
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /checkout/cart/{cart_id}:
        get:
            tags:
                - Checkout - Cart
            summary: Get Cart by ID
            description: Retreives a single cart by its ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
        delete:
            tags:
                - Checkout - Cart
            summary: Delete Cart
            description: Deletes a cart by its ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                default:
                    description: successful operation
                    content: {}
    /checkout/cart/{cart_id}/skus:
        post:
            tags:
                - Checkout - Items
            summary: Add SKU to Cart
            description:
                Adds a SKU to the cart by its ID. Quantity will default to 1 if
                no quantity is passed. Quantities greater than 10 will default to 10.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderSku"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/skus/{order_sku_id}:
        put:
            tags:
                - Checkout - Items
            summary: Update SKU in Cart
            description: Modifies a cart SKU by its ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: order_sku_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderSku"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
        delete:
            tags:
                - Checkout - Items
            summary: Remove SKU from Cart
            description: Removes a cart SKU by its ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: order_sku_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /checkout/cart/{cart_id}/billing_address:
        put:
            tags:
                - Checkout - Customer
            summary: Update Billing Address
            description: Modifies the billing address of the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderAddress"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
        post:
            tags:
                - Checkout - Customer
            summary: Set Billing Address
            description: Applies the provided billing address to the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderAddress"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/customer:
        post:
            tags:
                - Checkout - Customer
            summary: Apply Guest Customer to Cart
            description:
                Applies a guest customer to the cart. Guest customers consist of
                a first name, last name, and email address. Guest customers are not persisted
                within Violet for use on future orders.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/GuestOrderCustomer"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/shipping:
        post:
            tags:
                - Checkout - Shipping
            summary: Set Shipping Methods
            description:
                Applies a shipping method to a bag. Shipping methods available
                to each bag can be retreived from 'Get Available Shipping Methods' endpoint.
                Each bag requires a shipping method.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                $ref: "#/components/schemas/BagShippingMethod"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/shipping/available:
        get:
            tags:
                - Checkout - Shipping
            summary: Get Available Shipping Methods
            description:
                Returns a list of available shipping methods for each bag. The
                shipping address and customer must be applied to the cart before requesting
                shipping methods.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/OrderShippingMethodWrapper"
    /checkout/cart/{cart_id}/shipping/{shipping_method_id}:
        delete:
            tags:
                - Checkout - Shipping
            summary: Remove Shipping Method
            description: Removes a previously applied shipping from the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: shipping_method_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /checkout/payment/token:
        get:
            tags:
                - Checkout - Payment
            summary: Get Stripe Public Token
            description:
                Obtain the current Stripe Publishable Key for use in tokenizing
                payment card data with the <a target='_blank' href='https://stripe.com/docs/stripe-js/reference#stripe-create-token'>Stripe.js
                library</a>.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CurrentPaymentToken"
    /checkout/cart/{cart_id}/payment:
        post:
            tags:
                - Checkout - Payment
            summary: Apply Payment Method
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int32
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CartPaymentMethod"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/shipping_address:
        put:
            tags:
                - Checkout - Customer
            summary: Update Shipping Address
            description: Modifies the shipping address of the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderAddress"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
        post:
            tags:
                - Checkout - Customer
            summary: Set Shipping Address
            description: Applies the provided shipping address to the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: price_cart
                  in: query
                  schema:
                      type: boolean
                      default: false
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderAddress"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
            x-codegen-request-body-name: body
    /checkout/cart/{cart_id}/price:
        get:
            tags:
                - Checkout - Completion
            summary: Price Cart
            description:
                Prices the cart. This includes the calculation of shipping and
                tax rates. Before pricing a cart the shipping address, billing address, shipping
                method, and any SKUs should be applied to the cart.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /checkout/cart/{cart_id}/submit:
        post:
            tags:
                - Checkout - Completion
            summary: Submit Cart
            description:
                Submits a cart. For each unique bag in your cart an order will
                be submitted to the source merchant's platform. Depending on the number of
                bags in your cart this request can take a few moments as each external order
                is submitted.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: cart_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /orders/search:
        post:
            tags:
                - Orders
            summary: Search Orders
            description:
                Performs a paginated search of all orders. Orders can be searched
                by 'merchant_id', 'user_id', or a combination of both. <br><br>Orders are
                limited to those placed by your app.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int32
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/OrderSearchRequest"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageOrder"
            x-codegen-request-body-name: body
    /orders:
        get:
            tags:
                - Orders
            summary: Get Orders
            description:
                Returns a paginated list of orders. <br><br>Orders are limited
                to those placed by your app.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int32
                - name: page
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 1
                - name: size
                  in: query
                  schema:
                      type: integer
                      format: int32
                      default: 20
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PageOrder"
    /orders/{order_id}:
        get:
            tags:
                - Orders
            summary: Get Order by ID
            description: Retrieves a single order by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: order_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Order"
    /apps/{app_id}/webhooks:
        get:
            tags:
                - Webhooks
            summary: List Webhooks
            description: Retrieves a list of previously created webhooks.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: event
                  in: query
                  schema:
                      type: string
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Webhook"
        post:
            tags:
                - Webhooks
            summary: Create Webhook
            description:
                Creates a new webhook for the desired event. The remote endpoint
                must be HTTPS.<br><br>We currently limit webhooks to one per event per app.
                If the event is already active on a previously created webhook that existing
                webhook will be updated with the new endpoint.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Webhook"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Webhook"
            x-codegen-request-body-name: body
    /apps/{app_id}/webhooks/{webhook_id}:
        get:
            tags:
                - Webhooks
            summary: Get Webhook by ID
            description: Retrieves a single webhook by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: webhook_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Webhook"
        put:
            tags:
                - Webhooks
            summary: Update Webhook
            description: Modifies an existing webhook by ID.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: webhook_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Webhook"
                required: false
            responses:
                200:
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Webhook"
            x-codegen-request-body-name: body
        delete:
            tags:
                - Webhooks
            summary: Delete Webhook
            description:
                Removes a webhook. Events will immedietly stop posting to this
                endpoint upon deletion.
            parameters:
                - name: X-Violet-Token
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Secret
                  in: header
                  required: true
                  schema:
                      type: string
                - name: X-Violet-App-Id
                  in: header
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: app_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: webhook_id
                  in: path
                  required: true
                  schema:
                      type: integer
                      format: int64
            responses:
                default:
                    description: successful operation
                    content: {}
components:
    schemas:
        Meta:
            required:
                - key
                - offer_id
                - value
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                offer_id:
                    type: integer
                    description: Offer Id
                    format: int64
                key:
                    type: string
                    description: Key
                value:
                    type: string
                    description: Value
            description: Additional Product Data
        PageOrder:
            type: object
            properties:
                total_pages:
                    type: integer
                    format: int32
                total_elements:
                    type: integer
                    format: int64
                size:
                    type: integer
                    format: int32
                content:
                    type: array
                    items:
                        $ref: "#/components/schemas/Order"
                number:
                    type: integer
                    format: int32
                sort:
                    $ref: "#/components/schemas/Sort"
                first:
                    type: boolean
                    default: false
                last:
                    type: boolean
                    default: false
                number_of_elements:
                    type: integer
                    format: int32
        PageProduct:
            type: object
            properties:
                total_pages:
                    type: integer
                    format: int32
                total_elements:
                    type: integer
                    format: int64
                size:
                    type: integer
                    format: int32
                content:
                    type: array
                    items:
                        $ref: "#/components/schemas/Product"
                number:
                    type: integer
                    format: int32
                sort:
                    $ref: "#/components/schemas/Sort"
                first:
                    type: boolean
                    default: false
                last:
                    type: boolean
                    default: false
                number_of_elements:
                    type: integer
                    format: int32
        PageOffer:
            type: object
            properties:
                total_pages:
                    type: integer
                    format: int32
                total_elements:
                    type: integer
                    format: int64
                size:
                    type: integer
                    format: int32
                content:
                    type: array
                    items:
                        $ref: "#/components/schemas/Offer"
                number:
                    type: integer
                    format: int32
                sort:
                    $ref: "#/components/schemas/Sort"
                first:
                    type: boolean
                    default: false
                last:
                    type: boolean
                    default: false
                number_of_elements:
                    type: integer
                    format: int32
        SearchRequest:
            type: object
            properties:
                query:
                    type: string
                    description: Query
                merchant_id:
                    type: integer
                    description: Merchant ID
                    format: int32
                category_id:
                    type: string
                    description: Category ID
                category_slug:
                    type: string
                    description: Category Slug
                min_commission:
                    type: number
                    description: Minimum Commission
                    format: double
                max_commission:
                    type: number
                    description: Maximum Commission
                    format: double
                min_price:
                    type: integer
                    description: Minimum Price
                    format: int32
                max_price:
                    type: integer
                    description: Maximum Price
                    format: int32
                include_offers:
                    type: boolean
                    description: Include offers with products
                    default: false
            description: Search Request
        Sort:
            type: object
        ProductVariantValue:
            required:
                - variant_id
            type: object
            properties:
                id:
                    type: string
                variant_id:
                    type: string
                    description: ID of the Variation
                name:
                    type: string
                    description: Name
                display_order:
                    type: integer
                    description: Display Order
                    format: int32
                swatch:
                    type: string
                    description: Color/Pattern Swatch URL
                hex:
                    type: string
                    description: Hex Code
            description: Product Variant Value
        Category:
            required:
                - depth
                - name
                - slug
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
                    description: Category Name
                slug:
                    type: string
                    description: Category Slug
                parent_id:
                    type: string
                    description: Parent ID
                depth:
                    type: integer
                    description: Category Depth
                    format: int32
            description: Product Category
        SkuVariantValue:
            required:
                - value
                - variant
            type: object
            properties:
                variant:
                    type: string
                    description: Variant Name
                value:
                    type: string
                    description: Variant Value
            description: Individual Variation Value for a Sku
        SkuDimensions:
            type: object
            properties:
                sku_id:
                    type: integer
                    description: ID of SKU Dimensions Belong To
                    format: int64
                weight:
                    type: number
                    description: Weight of SKU
                    format: double
                height:
                    type: number
                    description: Height of SKU
                    format: double
                width:
                    type: number
                    description: Width of SKU
                    format: double
                length:
                    type: number
                    description: Length of SKU
                    format: double
                type:
                    type: string
                    description: Dimensions Type
                    enum:
                        - SKU
                        - SHIPPING
            description: Individual SkuDimensions
        Media:
            required:
                - album_id
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                album_id:
                    type: integer
                    description: Album ID
                    format: int64
                external_id:
                    type: string
                    description: External ID
                cloud_id:
                    type: string
                    description: ID of hosted cloud entity
                url:
                    type: string
                    description: Media URL
                source_url:
                    type: string
                    description: Media Source URL
                type:
                    type: string
                    description: Media Type
                    enum:
                        - image
                        - video
                display_order:
                    type: integer
                    description: Display Order
                    format: int32
                primary_media:
                    type: boolean
                    description: Primary Media
                    default: false
            description: Media
        Album:
            required:
                - parent_id
                - type
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                parent_id:
                    type: integer
                    description: ID of the parent entity
                    format: int64
                type:
                    type: string
                    description: Parent Type
                    enum:
                        - offer
                        - sku
                name:
                    type: string
                    description: Name of Album
                media:
                    type: array
                    description: Album media
                    items:
                        $ref: "#/components/schemas/Media"
            description: Product Image Container
        Product:
            required:
                - name
                - slug
            type: object
            properties:
                id:
                    type: string
                name:
                    type: string
                    description: Product Name
                description:
                    type: string
                    description: Product Description
                long_description:
                    type: string
                    description: Product Long Description
                slug:
                    type: string
                    description: Product Slug/Handle
                brand:
                    type: string
                    description: Brand
                available:
                    type: boolean
                    description: Is the Product Available
                    default: false
                visible:
                    type: boolean
                    description: Is the Product Visible
                    default: false
                type:
                    type: string
                    description: Product Type
                    enum:
                        - physical
                        - digital
                        - virtual
                currency:
                    type: string
                    enum:
                        - USD
                        - GBP
                min_price:
                    type: integer
                    description: Minimum Price of the Product
                    format: int32
                max_price:
                    type: integer
                    description: Maximum Price of the Product
                    format: int32
                variants:
                    type: array
                    description: Product Variants
                    items:
                        $ref: "#/components/schemas/ProductVariant"
                offers:
                    type: array
                    description: Merchant Offerings
                    items:
                        $ref: "#/components/schemas/Offer"
                categories:
                    type: array
                    description: Categories
                    items:
                        $ref: "#/components/schemas/Category"
                gender:
                    type: string
                    description: Gender
                    enum:
                        - MALE
                        - FEMALE
                        - UNISEX
                meta:
                    type: array
                    description: Meta Data
                    items:
                        $ref: "#/components/schemas/Meta"
                tags:
                    type: array
                    description: Tags
                    items:
                        type: string
                related_product_ids:
                    type: array
                    description: ID's of related products.
                    items:
                        type: string
                cross_sale_product_ids:
                    type: array
                    description: ID's of Cross Saleable Products.
                    items:
                        type: string
                gtins:
                    type: array
                    description: List of Global Trade Item Numbers
                    items:
                        type: string
                default_image_url:
                    type: string
                    description: The default/cover image of the Product
                qty_available:
                    type: integer
                    description: Overall Quantity
                    format: int32
                max_commission_rate:
                    type: number
                    description: The maximum commission rate offered by a merchant.
                    format: double
                date_created:
                    type: string
                    description: Date of product creation
                    format: date-time
                date_last_modified:
                    type: string
                    description: Date of last product update
                    format: date-time
            description: Products
        Dimension:
            required:
                - measure
                - sku_id
                - type
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                sku_id:
                    type: integer
                    description: Sku ID
                    format: int64
                measure:
                    type: string
                    description: What's being measured
                    enum:
                        - height
                        - weight
                        - width
                        - depth
                type:
                    type: string
                    description: Type of Measurement
                    enum:
                        - product
                        - shipping
                unit_of_measure:
                    type: string
                    description: Unit of Measure
                    enum:
                        - inches
                        - feet
                        - centimeters
                        - ounces
                        - pounds
                        - grams
                        - kilograms
                value:
                    type: number
                    description: Value
                    format: double
            description: Individual Product Dimensions
        Variant:
            type: object
            properties:
                product_variant_id:
                    type: string
                    description: ID of the Product Variant
                external_id:
                    type: string
                    description: ID of the Variant on the External Ecommerce Platform
                name:
                    type: string
                    description: Variant Name
                visual:
                    type: boolean
                    description: Is the variant visual
                    default: false
                values:
                    type: array
                    items:
                        $ref: "#/components/schemas/VariantValue"
            description: Variation Data
        Offer:
            required:
                - available
                - merchant_id
                - min_price
                - name
                - product_id
                - source
                - visible
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                product_id:
                    type: string
                    description: The parent/container product ID
                external_id:
                    type: string
                    description: External ID
                external_url:
                    type: string
                    description: External URL
                name:
                    type: string
                    description: Name of Product in Offer
                description:
                    type: string
                    description: Product Description
                source:
                    type: string
                    description: Source Platform
                    enum:
                        - OTHER
                        - SHOPIFY
                        - MAGENTO
                        - MAGENTO_ONE
                        - WOOCOMMERCE
                        - BIGCOMMERCE
                        - LIGHTSPEED
                        - ECWID
                        - YAAS
                        - SPREECOMMERCE
                        - DEMANDWARE
                        - VOLUSION
                seller:
                    type: string
                    description: Name of Merchant Selling Product
                vendor:
                    type: string
                    description: Name of Original Vendor
                merchant_id:
                    type: integer
                    description: Merchant ID
                    format: int32
                available:
                    type: boolean
                    description: Is Product Available
                    default: false
                visible:
                    type: boolean
                    description: Is Product Visible
                    default: false
                min_price:
                    type: integer
                    description: Minimum Price the Product sells for
                    format: int32
                max_price:
                    type: integer
                    description: Maximum Price the Product sells for
                    format: int32
                commission_rate:
                    type: number
                    description: Amount given by merchant
                    format: double
                special_commission_rate:
                    type: boolean
                    description: If the commission rate is unique to this offer.
                    default: false
                currency:
                    type: string
                    description: Default Currency of Offer
                source_category_name:
                    type: string
                    description: Original Category on Source Platform
                meta:
                    type: array
                    description: Additional Meta Data of the Offer
                    items:
                        $ref: "#/components/schemas/Meta"
                variants:
                    type: array
                    description: Product Variations
                    items:
                        $ref: "#/components/schemas/Variant"
                skus:
                    type: array
                    description: Product SKUs
                    items:
                        $ref: "#/components/schemas/Sku"
                albums:
                    type: array
                    description: Product Albums
                    items:
                        $ref: "#/components/schemas/Album"
                three_d_enables:
                    type: boolean
                    description: Is the product 3D Enabled
                    default: false
                three_d_resource:
                    type: string
                    description: 3D Resource Object
                type:
                    type: string
                    description: Product Type
                    enum:
                        - PHYSICAL
                        - DIGITAL
                        - VIRTUAL
                status:
                    type: string
                    description: Status
                    enum:
                        - ENABLED
                        - DISABLED
                date_created:
                    type: string
                    description: Date of offer creation
                    format: date-time
                date_last_modified:
                    type: string
                    description: Date of last offer update
                    format: date-time
                weight_unit:
                    type: string
                    description: Weight Unit
                    enum:
                        - OUNCES
                        - POUNDS
                        - GRAMS
                        - KILOGRAMS
                        - CARATS
                        - TONNES
                        - MILLIGRAMS
                        - LITERS
                        - MILLILITERS
                        - QUARTS
                        - QUARTERS
                        - GALLONS
                        - PINTS
                size_unit:
                    type: string
                    description: Size Unit
                    enum:
                        - MILLIMETERS
                        - CENTIMETERS
                        - INCHES
                        - FEET
                        - METERS
                        - YARDS
            description: Product Offer
        VariantValue:
            type: object
            properties:
                product_variant_value_id:
                    type: string
                    description: ID of the Product Variation Value
                external_id:
                    type: string
                    description: ID of the Variant in the External Ecommerce Platform
                name:
                    type: string
                    description: Variant Value Name
                sku_ids:
                    type: array
                    description: ID's of SKU's containing this Variant Value
                    items:
                        type: integer
                        format: int64
            description: Individual Variation Value
        ProductVariant:
            required:
                - product_id
            type: object
            properties:
                id:
                    type: string
                product_id:
                    type: string
                    description: Product ID
                name:
                    type: string
                visual:
                    type: boolean
                    description: Is this a visual variant
                    default: false
                values:
                    type: array
                    description: Product Variant values
                    items:
                        $ref: "#/components/schemas/ProductVariantValue"
                display_order:
                    type: integer
                    description: Display Order
                    format: int32
            description: Product Variant
        Sku:
            required:
                - currency
                - merchant_id
                - offer_id
                - sale_price
                - type
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                offer_id:
                    type: integer
                    description: ID of the Offer
                    format: int64
                merchant_id:
                    type: integer
                    description: ID of the Merchant
                    format: int32
                external_id:
                    type: string
                    description: ID of the SKU on the External Ecom Platform
                name:
                    type: string
                    description: Sku Name
                asin:
                    type: string
                    description: Amazon Standard Identification Number
                gtin:
                    type: string
                    description: Global Trade Item Number
                upc:
                    type: string
                    description: Universal Product Code
                ean:
                    type: string
                    description: European Article Number
                isbn:
                    type: string
                    description: International Standard Book Number
                in_stock:
                    type: boolean
                    description: Is the Product in Stock
                    default: false
                quantity_available:
                    type: integer
                    description: Quantity Available
                    format: int32
                inventory_tracked:
                    type: boolean
                    description: Is the SKUs inventory tracked
                    default: false
                sale_price:
                    type: integer
                    description: Sale Price of the SKU
                    format: int32
                retail_price:
                    type: integer
                    description: Retail Price of the SKU
                    format: int32
                currency:
                    type: string
                    description: The starting currency of this SKU
                taxable:
                    type: boolean
                    description: Is the product taxable
                    default: false
                tax_type:
                    type: string
                    description: Type of Tax on this SKU
                    enum:
                        - default
                        - apparel
                        - service
                albums:
                    type: array
                    description: Sku Albums
                    items:
                        $ref: "#/components/schemas/Album"
                variant_values:
                    type: array
                    description: Variant Values that apply to this SKU
                    items:
                        $ref: "#/components/schemas/SkuVariantValue"
                type:
                    type: string
                    enum:
                        - physical
                        - digital
                        - virtual
                status:
                    type: string
                    description: SKU Status
                    enum:
                        - enabled
                        - disabled
                date_created:
                    type: string
                    description: Date of SKU creation
                    format: date-time
                date_last_modified:
                    type: string
                    description: Date of last SKU update
                    format: date-time
                sku_dimensions:
                    $ref: "#/components/schemas/SkuDimensions"
            description: Stock Keeping Unit
        Order:
            required:
                - status
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                token:
                    type: string
                seller_id:
                    type: integer
                    description: ID of the Seller
                    format: int64
                user_id:
                    type: integer
                    description: ID of the User placing the order
                    format: int64
                app_id:
                    type: integer
                    description: ID of the App creating the order
                    format: int64
                customer:
                    $ref: "#/components/schemas/OrderCustomer"
                bags:
                    type: array
                    description: Bags in the Order
                    items:
                        $ref: "#/components/schemas/Bag"
                shipping_address:
                    $ref: "#/components/schemas/OrderAddress"
                billing_address:
                    $ref: "#/components/schemas/OrderAddress"
                payment_method:
                    $ref: "#/components/schemas/OrderPaymentMethod"
                sub_total:
                    type: integer
                    description: Subtotal of the Order
                    format: int32
                shipping_total:
                    type: integer
                    description: Shipping Total of the Order
                    format: int32
                tax_total:
                    type: integer
                    description: Tax Total of the Order
                    format: int32
                total:
                    type: integer
                    description: Total of the Order
                    format: int32
                app_customer_id:
                    type: string
                    description: App Customer ID
                app_order_id:
                    type: string
                    description: App Order ID
                status:
                    type: string
                    description: Status of the Order
                    enum:
                        - in_progress
                        - processing
                        - completed
                        - canceled
                        - partially_refunded
                        - refunded
                date_created:
                    type: string
                    description: Date of order creation
                    format: date-time
                date_last_modified:
                    type: string
                    description: Date of last order update
                    format: date-time
                guest:
                    type: boolean
                    description: Is the customer a guest or an authed user.
                    default: false
                referral_id:
                    type: string
                    description:
                        Optional value used to represent an identifier in your system.
                        Max length of 128 characters.
            description: Order
        OrderTax:
            required:
                - amount
                - merchant_id
                - order_id
                - rate
                - state
            type: object
            properties:
                order_id:
                    type: integer
                    description: ID of the Order the Tax belongs to
                    format: int64
                merchant_id:
                    type: integer
                    description: ID of the Merchant the Bag belongs to
                    format: int32
                skus:
                    type: array
                    description: SKUs covered by the Tax
                    items:
                        type: string
                state:
                    type: string
                    description: State abbreviation
                postal_code:
                    type: string
                    description: Postal/Zip Code
                rate:
                    type: number
                    description: Tax Rate
                    format: double
                amount:
                    type: integer
                    description: Total Tax amount on Bag
                    format: int32
                description:
                    type: string
                    description: Description of the Tax
            description: Taxes belonging to an Order Bag
        BagShippingMethod:
            type: object
            properties:
                bag_id:
                    type: integer
                    format: int64
                shipping_method_id:
                    type: string
            description: Shipping Method applied to a Bag
        OrderSearchRequest:
            type: object
            properties:
                user_id:
                    type: integer
                    description: User ID
                    format: int64
                merchant_id:
                    type: integer
                    description: Merchant ID
                    format: int32
                referral_id:
                    type: string
                    description: Referral ID
            description: Search Request
        OrderCustomer:
            required:
                - email
                - first_name
                - last_name
            type: object
            properties:
                user_id:
                    type: integer
                    description: ID of the User the Order Customer references
                    format: int64
                first_name:
                    type: string
                    description: First Name
                last_name:
                    type: string
                    description: Last Name
                email:
                    type: string
                    description: Email Address of Customer
                name:
                    type: string
            description: The Customer Placing the Order
        GuestOrderCustomer:
            required:
                - email
                - first_name
                - last_name
            type: object
            properties:
                first_name:
                    type: string
                    description: First Name
                last_name:
                    type: string
                    description: Last Name
                email:
                    type: string
                    description: Email Address of Customer
                shipping_address:
                    $ref: "#/components/schemas/OrderAddress"
                billing_address:
                    $ref: "#/components/schemas/OrderAddress"
                same_address:
                    type: boolean
                    description: "Use Same Address for Both "
                    default: false
            description: The Guest Customer Placing the Order
        OrderSku:
            required:
                - sku_id
            type: object
            properties:
                id:
                    type: integer
                    format: int64
                merchant_id:
                    type: integer
                    description: ID of the Merchant the SKU belongs to
                    format: int32
                app_id:
                    type: integer
                    description: ID of the App creating the Order
                    format: int64
                product_id:
                    type: string
                    description: ID of the Product
                sku_id:
                    type: integer
[...]
